<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ytzh.mapper.ZdtjMapper">
	<!-- 访问明细添加 -->
	<insert id="FwmxSave" parameterType="Fwmx">
		insert into tj.ytzh_tj (NowFormatDate,city,IP,url,NowFormatTime)
		values(#{NowFormatDate},#{city} ,#{ip} , #{url},#{NowFormatTime})
	</insert>
	
	<!-- 日各时段总访问量 -->
	<select id="pageViewAllByHour" parameterType="tjDate" resultType="Map">
		SELECT COUNT(1) pageViewCount, HOUR (NowFormatTime) HOUR FROM  ytzh_tj WHERE 
   1=1 AND TO_DAYS(NowFormatDate) = TO_DAYS(#{FDate}) GROUP BY HOUR (NowFormatTime) 
	</select>
	
	<!-- 日各时段独立访问量 -->
	<select id="IpcAllByHourList" parameterType="tjDate" resultType="Map">
		SELECT COUNT(1) IPcount,A.HOUR HOUR FROM  
		(SELECT IP, HOUR (NowFormatTime) HOUR FROM  ytzh_tj WHERE 1=1 AND TO_DAYS(NowFormatDate) = TO_DAYS(#{FDate}) GROUP BY HOUR (NowFormatTime),IP
		 ) A  GROUP BY A.HOUR
	</select>
	
	<!-- 前日总访问量 -->
	<select id="pageViewByDay" parameterType="tjDate" resultType="Map">
		SELECT COUNT(1) countByDay FROM  ytzh_tj 
		WHERE 1=1 AND TO_DAYS(NowFormatDate) = TO_DAYS((SELECT DATE_SUB(#{FDate},INTERVAL 1 DAY))) 
	</select>
	
	<!-- 日独立访问量 -->
	<select id="IpcAllByDay" parameterType="tjDate" resultType="Map">
		 SELECT COUNT(1)IpCountByDay FROM (SELECT GROUP_CONCAT(DISTINCT IP) FROM  ytzh_tj WHERE 1=1 AND TO_DAYS(NowFormatDate) = TO_DAYS((SELECT DATE_SUB(#{FDate},INTERVAL 1 DAY)))  GROUP BY IP)DISTINCT_IP 
	</select>
</mapper>